################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# printable-PDF build artifacts
_pdf_preview/
_pass1.pdf
_verify.json
